.header {
  height: auto !important;
  min-height: 0 !important;
  font-weight: 500;
  font-size: 24px;
  color: #1E293B;

  &-subtitle {
    font-weight: normal;
    font-size: 14px;
    color: #4B5563;
    margin-top: 4px;
  }

  &.devices {
    font-size: 16px;
  }
}

.task {
  border: 1px solid #D1D5DB;
  border-radius: 8px;
  background: #FFFFFF; 
  overflow: hidden;

  .btn-tool {
    padding: 6px 10px;
    border: 0;
    font-size: 12px;
    display: flex;
    align-items: center;
    margin: 0 4px;
    background: #fff;
    cursor: pointer;
    color: #6B7280;
    font-weight: 600;
    cursor: pointer;

    svg {
      fill: #6B7280;
    }

    &:last-child {
      margin-right: 0;
    }

    span {
      margin-left: 4px;
    }

    &-icon {
      margin: 0;
    }
  }

  &-header, &-search {
    padding: 6px 16px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #D1D5DB;
    
    .btn-group {
      .btn {
        padding: 6px 10px;

        svg {
          margin-right: 4px;
        }
      }

      &-addon {
        padding: 6px;
      }
    }

    .task-add, .task-search-input {
      flex: 1;
    }

    .task-search-input {
      input {
        font-weight: normal;
        font-size: 14px;
        padding: 0;
        width: 100%;
      }
    }
  }

  &-search {
    .btn-tool {
      span {
        margin-left: 0;
      }

      svg {
        margin-left: 4px;
      }
    }
  }

  &-item {
    display: flex;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #D1D5DB;
    cursor: pointer;

    &:last-child {
      border-bottom: none;
    }

    &-title {
      margin: 0 8px;
      color: #1E293B;
      font-weight: 600;
      font-size: 14px;
    }

    &-expand {
      padding: 6px 40px;
      padding-right: 22px;
      align-items: center;
      border-bottom: 1px solid #D1D5DB; 
      display: none;
      overflow: hidden;

      &:last-child {
        border-bottom: none; 
      }

      &.expanded {
        display: flex;
      }

      &-title {
        color: #1E293B;
        font-size: 14px;
        margin-left: 8px;
        flex: 1;
      }

      .btn-tool-date {
        span {
          margin-left: 0;
          margin-right: 4px;
        }
      }

  
    }
  }

  &-board {
    padding: 24px 20px;
    background: #F1F5F9;
    margin: 0 -20px;

    &-title {
      color: #1E293B;
      font-weight: 600;
      width: 100%;
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      font-size: 16px;

      span {
        flex: 1;
      }

      svg {
        fill: #6B7280;

        &:first-child {
          margin-right: 6px;
        }
      }

      &.new {
        color: #6B7280;
      }
    }

    &-col {
      padding: 0 20px;
    }

    &-add {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #6B7280;
      font-weight: 600;
      font-size: 16px;

      svg {
        fill: #6B7280;
      }
    }

    &-card {
      background: #FFFFFF;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 0px 0px 4px #FFFFFF;
      border-radius: 8px;
      width: 100%;
      margin-bottom: 16px;
      box-shadow: 0px 1px 3px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 6%);
      padding: 16px;

      &-title {
        font-size: 16px;
        display: flex;
        align-items: center;
        font-weight: 600;
        margin-bottom: 16px;

        span {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        svg {
          margin-right: 4px;
          fill: #6B7280;
        }
      }

      &-desc {
        font-weight: normal;
        font-size: 12px;
        margin-bottom: 16px;
      }

      &-author {
        display: flex;
        align-items: center;
        color: #6B7280;
        font-size: 12px;

        svg {
          margin-right: 4px;
          fill: #6B7280;
        }
      }
    }
  }
}

.mobile {
  padding: 0 24px;

  div[fxlayout=row] {
    flex-direction: column !important;

    div[fxFlex] {
      max-width: 100% !important;
      width: 100%;
    }
  }

  .card-tabs {
    width: 100%;

    .card-tab {
      flex: 1;
      text-align: center;
    }
  }

  .task-board-title.new {
    border: 1px solid #D1D5DB;
    border-radius: 8px;
    padding: 16px;
    margin-top: 16px;
  }

  .task-header {
    display: block;

    .task-search-input {
      margin-top: 10px;
    }

    .btn-tool {
      display: inline-flex;
      padding: 6px;

      &.customize {
        span {
          display: none;
        }
      }
    }
  }
}