<mat-card class="auto-width mb-8" [ngClass.gt-sm]="custom ? '' : 'mr-8'" *ngIf="sensor"
  [class.custom-dashboard]="custom" [class.sensor-alert]="hasActiveAlerts | async"
  [class.icon-only]="options.WidgetSize === 'icon-only'"
  [ngStyle]="options.WidgetSize === 'value-only' ? {padding: '10px', height: '98%'} : {}">

  <div fxLayout="row" fxLayoutAlign="space-between start" class="pb-8"
    *ngIf="options.WidgetSize !== 'value-only' && options.WidgetSize !== 'icon-only'">
    <div class="pr-8" [ngStyle]="{'max-width': timestamp ? '70%' : '100%'}">
      <div fxLayout="row" class="h3 secondary-text nowrap-text" [class.active-alert]="(hasActiveAlerts | async)">
        <mat-icon *ngIf="hasActiveAlerts | async" matTooltip="Sensor Alert active" matTooltipClass="tooltip-default">
          warning
        </mat-icon>
        {{customName || sensor.name}}
      </div>
    </div>
    <div *ngIf="(hasActiveAlerts | async) && timestamp" fxLayout="row" fxLayoutAlign="center center" class="h3 nowrap-text"
      [class.active-alert]="(hasActiveAlerts | async)">
      <mat-icon *ngIf="(firstActiveAlert | async).ComparisonType === 0">arrow_drop_up</mat-icon>
      <mat-icon *ngIf="(firstActiveAlert | async).ComparisonType === 1">arrow_drop_down</mat-icon>
      {{(firstActiveAlert | async).Threshold}}{{sensor.readingSuffix}}
    </div>
    <div class="h3 secondary-text nowrap-text" *ngIf="timestamp && sensor.age == 1">
      {{sensor.tstamp | mdate:'short' : sensor.tz}} {{sensor.tzAbbr}}
    </div>
    <div class="h3 secondary-text nowrap-text" *ngIf="timestamp && sensor.age == -1">
      --
    </div>
    <div class="h3 secondary-text nowrap-text" [class.active-alert]="(hasActiveAlerts | async)" *ngIf="timestamp && !sensor.age">
      {{sensor.tstamp | mdate:'mediumTime' : sensor.tz}} {{sensor.tzAbbr}}
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center" class="pb-8"
    *ngIf="options.WidgetSize !== 'value-only' && options.WidgetSize !== 'icon-only'">
    <div class="font-size-28 font-weight-300 line-height-1 nowrap-text" [class.outdated]="sensor.outdated"
      [class.active-alert]="(hasActiveAlerts | async)" [class.font-size-28]="timestamp"
      [class.font-size-20]="!timestamp" fxLayout="row" fxLayoutAlign="space-between flex-end">
      <img width="30px" src="/assets/images/light.png" [style]="lightImageStyle | async">
      <div *ngIf="(hasActiveAlerts | async) && !timestamp" fxLayout="row" fxLayoutAlign="center center" class="h3 nowrap-text"
        [class.active-alert]="(hasActiveAlerts | async)">
        <mat-icon *ngIf="(firstActiveAlert | async).ComparisonType === 0">arrow_drop_up</mat-icon>
        <mat-icon *ngIf="(firstActiveAlert | async).ComparisonType === 1">arrow_drop_down</mat-icon>
        {{(firstActiveAlert | async).Threshold}}{{sensor.readingSuffix}}
      </div>
    </div>
    <div *ngIf="chart" class="font-size-14 secondary-text nowrap-text text-right"
      [class.active-alert]="(hasActiveAlerts | async)">
      {{minMaxLabel | async}}
    </div>
  </div>

  <div *ngIf="chart && hasChartData" class="h-112 pointer"
    [class.chart-loading]="isLoading && !sensor.chartData.length" (click)="showChart()">
    <ngx-charts-line-chart [results]="sensor.chartData" [autoScale]="chartOptions.autoScale"
      [scheme]="chartOptions.scheme" [gradient]="chartOptions.gradient" [xAxis]="chartOptions.xAxis"
      [yAxis]="chartOptions.yAxis" [legend]="chartOptions.legend" [showXAxisLabel]="chartOptions.showXAxisLabel"
      [showYAxisLabel]="chartOptions.showYAxisLabel" [xAxisLabel]="chartOptions.xAxisLabel"
      [yAxisLabel]="chartOptions.yAxisLabel" [curve]="chartOptions.curve">
    </ngx-charts-line-chart>
    <mat-spinner *ngIf="isLoading && !sensor.chartData.length"></mat-spinner>
  </div>

  <div class="grid-container" [class.icon-only]="options.WidgetSize === 'icon-only'"
    *ngIf="options.WidgetSize === 'value-only' || options.WidgetSize === 'icon-only'">

    <div class="h3 secondary-text nowrap-text" [class.active-alert]="(hasActiveAlerts | async)"
      *ngIf="options.WidgetSize === 'value-only'">
      {{customName || sensor.name}}
    </div>
    <div class="h3 nowrap-text" [class.outdated]="sensor.outdated"
      [class.active-alert]="(hasActiveAlerts | async)"
      [class.text-right]="options.WidgetSize === 'value-only'"
      [ngStyle]="options.WidgetSize === 'icon-only' ? {'text-align': options.Align ? options.Align : 'left'} : {}">
      <img [width]="(options.WidgetSize === 'icon-only' ? 30 : 22)" src="/assets/images/light.png"
        [style]="lightImageStyle | async">
    </div>
  </div>

</mat-card>
