mat-dialog-content {
  text-align: left;
}
p {
  margin-top: 0px;
  font-size: large;
}
label {
  font-weight: bold;
  margin-right: 0.5rem;
  min-width: 15rem;
  display: inline-block;
  text-align: right;
}
