<h2 mat-dialog-title>Device Schedule</h2>
<mat-dialog-content>
  {{ruleDescription}}
  <form class="p-24" name="editTriggerForm" (ngSubmit)="update()" [formGroup]="editScheduleForm" novalidate>

    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex="100">
        <input id="displayName" type="text" matInput placeholder="Display Name" formControlName="displayName">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex="100">
        <mat-select placeholder="Devices" [formControl]="devices" multiple>
          <mat-option *ngFor="let device of deviceOptions" [value]="device.Guid">{{device.Name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="devices.hasError('required')">
          Device(s) required
        </mat-error>
        <mat-error *ngIf="devices.hasError('server')">
          {{devices.getError('server')}}
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" *ngIf="controllerDosing && selectedDevicesDosing">
      <mat-form-field fxFlex="100">
        <mat-select placeholder="Dosing Recipe" [formControl]="dosingRecipe">
          <mat-option [value]="null">None</mat-option>
          <mat-option *ngFor="let recipe of dosingRecipes" [value]="recipe.Id">{{recipe.Name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="dosingRecipe.hasError('server')">
          {{dosingRecipe.getError('server')}}
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex="100">
        <mat-select placeholder="Days" [formControl]="days" multiple>
          <mat-option *ngFor="let day of dayOfWeekOptions" [value]="day.value">{{day.caption}}</mat-option>
        </mat-select>
        <mat-error *ngIf="days.hasError('required')">
          Day(s) required
        </mat-error>
        <mat-error *ngIf="days.hasError('server')">
          {{days.getError('server')}}
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex="50">
        <fuse-controller-timepicker formControlName="startTime" placeholder="Start Time" [timezone]="timezoneAbbr">
        </fuse-controller-timepicker>
        <mat-error *ngIf="startTime.hasError('required')">
          Start Time is required
        </mat-error>
        <mat-error *ngIf="startTime.hasError('server')">
          {{startTime.getError('server')}}
        </mat-error>
        <mat-error *ngIf="startTime.hasError('valid')">
          {{startTime.getError('valid')}}
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="50">
        <fuse-controller-timepicker formControlName="endTime" placeholder="End Time" [timezone]="timezoneAbbr">
        </fuse-controller-timepicker>
        <mat-error *ngIf="endTime.hasError('required')">
          End Time is required
        </mat-error>
        <mat-error *ngIf="endTime.hasError('server')">
          {{endTime.getError('server')}}
        </mat-error>
        <mat-error *ngIf="endTime.hasError('valid')">
          {{endTime.getError('valid')}}
        </mat-error>
      </mat-form-field>
    </div>

    <fuse-device-throttles [editForm]="editScheduleForm" [selectedDeviceThrottles]="selectedDeviceThrottles">
    </fuse-device-throttles>

    <div fxLayout="row" fxLayoutAlign="start center" *ngIf="allowsFade">
      <mat-form-field fxFlex="50">
        <fuse-duration-input placeholder="Throttle Fade In" formControlName="fadeIn"></fuse-duration-input>
        <mat-error *ngIf="fadeIn.hasError('server')">
          {{fadeIn.getError('server')}}
        </mat-error>
        <mat-error *ngIf="fadeIn.hasError('valid')">
          {{fadeIn.getError('valid')}}
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="50">
        <fuse-duration-input placeholder="Throttle Fade Out" formControlName="fadeOut"></fuse-duration-input>
        <mat-error *ngIf="fadeOut.hasError('server')">
          {{fadeOut.getError('server')}}
        </mat-error>
        <mat-error *ngIf="fadeOut.hasError('valid')">
          {{fadeOut.getError('valid')}}
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-checkbox fxFlex="50" formControlName="active">Active</mat-checkbox>
    </div>
  </form>
</mat-dialog-content>
<div mat-dialog-actions fxLayoutAlign="center center">
  <button mat-raised-button (click)="update()" color="primary" [disabled]="editScheduleForm.invalid || loading">{{schedule.Id ?
    'Save Changes' : 'Add Schedule'}}</button>
  <button mat-raised-button mat-dialog-close [disabled]="loading">Cancel</button>
</div>
