<mat-table [dataSource]="dataSource" matSort matSortActive="sensor" matSortDirection="asc"
  (matSortChange)="sortOrderChange($event)">
  <ng-container matColumnDef="timeOfDay">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Time of Day</mat-header-cell>
    <mat-cell *matCellDef="let alert">{{alert.TimeOfDay}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="sensor">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Sensor</mat-header-cell>
    <mat-cell *matCellDef="let alert">{{alert.SensorName}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="condition">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Condition</mat-header-cell>
    <mat-cell *matCellDef="let alert">{{alert.Condition}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell fxFlex="250px" *matHeaderCellDef></mat-header-cell>
    <mat-cell fxFlex="250px" fxLayoutAlign="end center" *matCellDef="let alert">
      <button *ngIf="!isReadOnly" mat-icon-button color="primary" [disabled]="loading" (click)="editAlert(alert)">
        <mat-icon aria-label="Edit alert">mode_edit</mat-icon>
      </button>
      <button mat-icon-button color="secondary" [disabled]="loading"
        (click)="viewHistory(alert.Id, alert.Name)">
        <mat-icon aria-label="View History">list_alt</mat-icon>
      </button>
      <button *ngIf="!isReadOnly" mat-icon-button color="warn" [disabled]="loading" (click)="deleteAlert(alert)">
        <mat-icon aria-label="Delete alert">delete</mat-icon>
      </button>
      <mat-slide-toggle [checked]="alert.IsActive" (change)="setAlertActive($event, alert)"
        (click)="ignoreClick($event)" [disabled]="loading || isReadOnly" style="min-width: 100px">
        {{alert.IsActive ? 'Active' : 'Inactive'}}</mat-slide-toggle>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="alertColumns"></mat-header-row>>
  <mat-row *matRowDef="let row; columns: alertColumns;" matRipple class="mat-ripple mat-row-selectable"
    [class.accent-50-bg]="selectedAlert == row" [class.mat-row-disabled]="row && !row.IsActive"
    (click)="selectAlert(row)" (dblclick)="editAlert(row)"></mat-row>>
</mat-table>
<mat-action-row class="mat-primary-100-bg">
  <button mat-raised-button color="accent" (click)="addAlert()" [disabled]="loading">Add
    Alert</button>
</mat-action-row>
