<!-- SIDE PANEL -->
<ng-container *ngIf="!fuseSettings.layout.sidepanel.hidden && fuseSettings.layout.sidepanel.position === 'left'">

  <!-- PANEL CONTENT -->

</ng-container>
<!-- / SIDE PANEL -->

<div id="main">

  <!-- TOOLBAR: Above -->
  <ng-container *ngIf="fuseSettings.layout.toolbar.position === 'above'">
      <ng-container *ngTemplateOutlet="toolbar"></ng-container>
  </ng-container>
  <!-- / TOOLBAR: Above -->

  <div id="container-1" class="container">

        <!-- NAVBAR: Left -->
        <ng-container *ngIf="fuseSettings.layout.navbar.position === 'left'">
          <ng-container *ngTemplateOutlet="leftNavbar"></ng-container>
      </ng-container>
      <!-- / NAVBAR: Left -->

      <div id="container-2" class="container">

            <!-- TOOLBAR: Below fixed -->
            <ng-container *ngIf="fuseSettings.layout.toolbar.position === 'below-fixed'">
              <ng-container *ngTemplateOutlet="toolbar"></ng-container>
          </ng-container>
          <!-- / TOOLBAR: Below fixed -->

          <div id="container-3" class="container" fusePerfectScrollbar
          [fusePerfectScrollbarOptions]="{suppressScrollX: true, updateOnRouteChange : true}">

                <!-- TOOLBAR: Below static -->
                <ng-container *ngIf="fuseSettings.layout.toolbar.position === 'below-static'">
                  <ng-container *ngTemplateOutlet="toolbar"></ng-container>
              </ng-container>
              <!-- / TOOLBAR: Below static -->

              <!-- CONTENT -->
              <fuse-content></fuse-content>
              <!-- / CONTENT -->

                <!-- FOOTER: Below static -->
                <ng-container *ngIf="fuseSettings.layout.footer.position === 'below-static'">
                  <ng-container *ngTemplateOutlet="footer"></ng-container>
              </ng-container>
              <!-- / FOOTER: Below static -->

          </div>

            <!-- FOOTER: Below fixed -->
            <ng-container *ngIf="fuseSettings.layout.footer.position === 'below-fixed'">
              <ng-container *ngTemplateOutlet="footer"></ng-container>
          </ng-container>
          <!-- / FOOTER: Below fixed -->

      </div>

        <!-- NAVBAR: Right -->
        <ng-container *ngIf="fuseSettings.layout.navbar.position === 'right'">
          <ng-container *ngTemplateOutlet="rightNavbar"></ng-container>
      </ng-container>
      <!-- / NAVBAR: Right -->

  </div>

    <!-- FOOTER: Above -->
    <ng-container *ngIf="fuseSettings.layout.footer.position === 'above'">
      <ng-container *ngTemplateOutlet="footer"></ng-container>
  </ng-container>
  <!-- FOOTER: Above -->

</div>

<!-- SIDE PANEL -->
<ng-container *ngIf="!fuseSettings.layout.sidepanel.hidden && fuseSettings.layout.sidepanel.position === 'right'">

  <!-- PANEL CONTENT -->

</ng-container>
<!-- / SIDE PANEL -->

<!-- QUICK PANEL -->
<fuse-sidebar name="quickPanel" position="right" class="quick-panel">
  <fuse-quick-panel></fuse-quick-panel>
</fuse-sidebar>
<!-- / QUICK PANEL -->

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- @ PARTIALS                                                                                            -->
<!-- ----------------------------------------------------------------------------------------------------- -->

<!-- TOOLBAR -->
<ng-template #toolbar>
  <fuse-toolbar *ngIf="!fuseSettings.layout.toolbar.hidden" style="z-index: 2;"
           [ngClass]="fuseSettings.layout.toolbar.customBackgroundColor === true ? fuseSettings.layout.toolbar.position + ' ' + fuseSettings.layout.toolbar.background : fuseSettings.layout.toolbar.position">
  </fuse-toolbar>
</ng-template>
<!-- / TOOLBAR -->

<!-- FOOTER -->
<ng-template #footer>
  <footer *ngIf="!fuseSettings.layout.footer.hidden"
          [ngClass]="fuseSettings.layout.footer.customBackgroundColor === true ? fuseSettings.layout.footer.position + ' ' + fuseSettings.layout.footer.background : fuseSettings.layout.footer.position">
  </footer>
</ng-template>
<!-- / FOOTER -->

<!-- LEFT NAVBAR -->
<ng-template #leftNavbar>
  <fuse-sidebar name="navbar" class="navbar-fuse-sidebar"
                [folded]="fuseSettings.layout.navbar.folded"
                lockedOpen="gt-md"
                *ngIf="!fuseSettings.layout.navbar.hidden">
      <fuse-navbar-vertical class="left-navbar"></fuse-navbar-vertical>
  </fuse-sidebar>
</ng-template>
<!-- / LEFT NAVBAR -->

<!-- RIGHT NAVBAR -->
<ng-template #rightNavbar>
  <fuse-sidebar name="navbar" position="right" class="navbar-fuse-sidebar"
                [folded]="fuseSettings.layout.navbar.folded"
                lockedOpen="gt-md"
                *ngIf="!fuseSettings.layout.navbar.hidden">
      <fuse-navbar-vertical class="right-navbar"></fuse-navbar-vertical>
  </fuse-sidebar>
</ng-template>
<!-- / RIGHT NAVBAR -->
