<div id="heat-maps-add" ngClass.xs="mobile" ngClass.sm="tablet" class="page-layout simple fullwidth" fusePerfectScrollbar>
  <div class="header mat-bg mt-24" fxLayout="row" fxLayoutAlign="start">
    Heat Maps
  </div>

  <div class="mt-24" fxLayout="row" fxLayoutAlign="start start">
    <div fxFlex="100" fxLayout="column">
      <div class="card">
        <div class="row" fxLayout="row" fxLayoutAlign="start start">
          <div class="card-left" fxFlex="20" fxLayout="column">
            <div class="card-block cb-1"></div>
            <div class="card-block cb-2"></div>
            <div class="card-block cb-3"></div>
            <div class="card-block cb-4"></div>
          </div>
          <div class="card-right" fxFlex="80" fxLayout="column">
            <div class="card-right-header">
              <div class="card-right-header-avatar"></div>
            </div>
            <div class="card-right-body">
              <div class="card-right-body-content">
                <div>
                  <img src="assets/images/heat-maps-add.svg">
                  <button routerLink="/heat-maps/new">Add Heat Maps</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

