<h2 mat-dialog-title>Edit Schedule - {{ruleControllers}}</h2>
<mat-dialog-content>
  {{ruleDescription}}
  <form class="p-24" name="editScheduleForm" (ngSubmit)="update()" [formGroup]="editScheduleForm" novalidate>

    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex="100" disabled>
        <input id="devices" type="text" matInput placeholder="Devices" readonly [value]="selectedDevices">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field fxFlex="100">
          <mat-select placeholder="Days" [formControl]="days" multiple>
            <mat-option *ngFor="let day of dayOfWeekOptions" [value]="day.value">{{day.caption}}</mat-option>
          </mat-select>
          <mat-error *ngIf="days.hasError('required')">
            Day(s) required
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field fxFlex="50">
          <input type="time" matInput placeholder="Start Time" step="1" formControlName="startTime">
          <mat-error *ngIf="startTime.hasError('required')">
            Start Time is required
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="50">
          <input type="time" matInput placeholder="End Time" step="1" formControlName="endTime">
          <mat-error *ngIf="endTime.hasError('required')">
            End Time is required
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center" *ngIf="deviceThrottles.length">
        <div fxLayout="column" fxFlex="50" *ngFor="let t of deviceThrottles">
          <mat-label *ngIf="t.AllowsThrottle">{{t.Name}} [{{t.Throttle}}%]</mat-label>
          <mat-slider *ngIf="t.AllowsThrottle" min="0" max="100" step="5" thumbLabel [formControlName]="'throttle-' + t.Guid"></mat-slider>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center" *ngIf="allowsFade">
        <div fxLayout="column" fxFlex="50">
          <mat-label>Throttle Fade In [{{schedule.ThrottleFadeIn}}]</mat-label>
          <mat-slider min="0" max="60" step="5" thumbLabel formControlName="fadeIn"></mat-slider>
        </div>
        <div fxLayout="column" fxFlex="50">
          <mat-label>Throttle Fade Out [{{schedule.ThrottleFadeOut}}]</mat-label>
          <mat-slider min="0" max="60" step="5" thumbLabel formControlName="fadeOut"></mat-slider>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
      <mat-checkbox fxFlex="100" formControlName="active" [indeterminate]="deviantIsActive.length > 0">Active</mat-checkbox>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="100" class="mat-hint deviant-hint" [innerHTML]="deviantIsActive"></div>
    </div>
    </form>
</mat-dialog-content>
<div mat-dialog-actions fxLayoutAlign="center center">
  <button mat-raised-button (click)="update()" color="primary" [disabled]="editScheduleForm.invalid">Save Changes</button>
  <button mat-raised-button mat-dialog-close>Cancel</button>
</div>
