<div id="batch-tanks" ngClass.xs="mobile" ngClass.sm="tablet" class="page-layout simple fullwidth" fusePerfectScrollbar>
  <div fxLayout="row">
    <div fxFlex="70" fxLayout="column">
      <div class="header mat-bg mt-24" fxLayout="row" fxLayoutAlign="start center">
        Manage Batch Tanks
      </div>
      <div class="header-subtitle mat-bg" fxLayout="row" fxLayoutAlign="start center">Monitor metrics, check reports and review performance</div>    
    </div>
    <div fxFlex="30" fxLayoutAlign="end center" class="justify-content-flexend">
      <div class="mt-24">
        <button class="batch-tanks-btn" mat-button routerLink="/batch-tanks/new">
          <svg class="mr-8" ibmIconAdd size="20"></svg>
          Create Batch Tanks
        </button>
      </div>
    </div>
  </div>


  <div class="bottom-info mt-32" fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex="25" class="px-12" fxLayout="column">
      <div class="nutrient-card">
        <div class="nutrient-card-title">
          <span>Tank 1</span>
        </div>
        <div class="nutrient-card-expand">
          <span>Clearex Flush</span>
          <svg ibmIconChevronDown size="20"></svg>
        </div>
        <div class="nutrient-card-expand-item">
          <span>pH</span>
          <span>1.7 mal/gal</span>
        </div>
        <div class="nutrient-card-expand-item">
          <span>Tds</span>
          <span>0.08 ppm</span>
        </div>
        <img src="assets/images/tank.svg">
        <div class="nutrient-card-actions">
          <button class="nutrient-card-actions-dropdown-btn" mat-button>Set fill rules</button>
          <button mat-button>Refill</button>
        </div>
      </div>
    </div>

    <div fxFlex="25" class="px-12" fxLayout="column">
      <div class="nutrient-card">
        <div class="nutrient-card-title">
          <span>Tank 1</span>
        </div>
        <div class="nutrient-card-expand">
          <span>Clearex Flush</span>
          <svg ibmIconChevronDown size="20"></svg>
        </div>
        <div class="nutrient-card-expand-item">
          <span>pH</span>
          <span>1.7 mal/gal</span>
        </div>
        <div class="nutrient-card-expand-item">
          <span>Tds</span>
          <span>0.08 ppm</span>
        </div>
        <img src="assets/images/tank.svg">
        <div class="nutrient-card-actions">
          <button class="nutrient-card-actions-dropdown-btn" mat-button>Set fill rules</button>
          <button mat-button>Refill</button>
        </div>
      </div>
    </div>

    <div fxFlex="25" class="px-12" fxLayout="column">
      <div class="nutrient-card">
        <div class="nutrient-card-title">
          <span>Tank 1</span>
        </div>
        <div class="nutrient-card-expand">
          <span>Clearex Flush</span>
          <svg ibmIconChevronDown size="20"></svg>
        </div>
        <div class="nutrient-card-expand-item">
          <span>pH</span>
          <span>1.7 mal/gal</span>
        </div>
        <div class="nutrient-card-expand-item">
          <span>Tds</span>
          <span>0.08 ppm</span>
        </div>
        <img src="assets/images/tank.svg">
        <div class="nutrient-card-actions">
          <button class="nutrient-card-actions-dropdown-btn" mat-button>Set fill rules</button>
          <button mat-button>Refill</button>
        </div>
      </div>
    </div>

    <div fxFlex="25" class="px-12" fxLayout="column">
      <div class="nutrient-card">
        <div class="nutrient-card-title">
          <span>Tank 1</span>
        </div>
        <div class="nutrient-card-expand">
          <span>Clearex Flush</span>
          <svg ibmIconChevronDown size="20"></svg>
        </div>
        <div class="nutrient-card-expand-item">
          <span>pH</span>
          <span>1.7 mal/gal</span>
        </div>
        <div class="nutrient-card-expand-item">
          <span>Tds</span>
          <span>0.08 ppm</span>
        </div>
        <img src="assets/images/tank.svg">
        <div class="nutrient-card-actions">
          <button class="nutrient-card-actions-dropdown-btn" mat-button>Set fill rules</button>
          <button mat-button>Refill</button>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-info" fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex="25" class="px-12" fxLayout="column">
      <div class="nutrient-card">
        <div class="nutrient-card-title">
          <span>Tank 1</span>
        </div>
        <div class="nutrient-card-expand">
          <span>Clearex Flush</span>
          <svg ibmIconChevronDown size="20"></svg>
        </div>
        <div class="nutrient-card-expand-item">
          <span>pH</span>
          <span>1.7 mal/gal</span>
        </div>
        <div class="nutrient-card-expand-item">
          <span>Tds</span>
          <span>0.08 ppm</span>
        </div>
        <img src="assets/images/tank.svg">
        <div class="nutrient-card-actions">
          <button class="nutrient-card-actions-dropdown-btn" mat-button>Set fill rules</button>
          <button mat-button>Refill</button>
        </div>
      </div>
    </div>

    <div fxFlex="25" class="px-12" fxLayout="column">
      <div class="nutrient-card">
        <div class="nutrient-card-title">
          <span>Tank 1</span>
        </div>
        <div class="nutrient-card-expand">
          <span>Clearex Flush</span>
          <svg ibmIconChevronDown size="20"></svg>
        </div>
        <div class="nutrient-card-expand-item">
          <span>pH</span>
          <span>1.7 mal/gal</span>
        </div>
        <div class="nutrient-card-expand-item">
          <span>Tds</span>
          <span>0.08 ppm</span>
        </div>
        <img src="assets/images/tank.svg">
        <div class="nutrient-card-actions">
          <button class="nutrient-card-actions-dropdown-btn" mat-button>Set fill rules</button>
          <button mat-button>Refill</button>
        </div>
      </div>
    </div>

    <div fxFlex="25" class="px-12" fxLayout="column">
      <div class="nutrient-card">
        <div class="nutrient-card-title">
          <span>Tank 1</span>
        </div>
        <div class="nutrient-card-expand">
          <span>Clearex Flush</span>
          <svg ibmIconChevronDown size="20"></svg>
        </div>
        <div class="nutrient-card-expand-item">
          <span>pH</span>
          <span>1.7 mal/gal</span>
        </div>
        <div class="nutrient-card-expand-item">
          <span>Tds</span>
          <span>0.08 ppm</span>
        </div>
        <img src="assets/images/tank.svg">
        <div class="nutrient-card-actions">
          <button class="nutrient-card-actions-dropdown-btn" mat-button>Set fill rules</button>
          <button mat-button>Refill</button>
        </div>
      </div>
    </div>

    <div fxFlex="25" class="px-12" fxLayout="column">
      <div class="nutrient-card">
        <div class="nutrient-card-title">
          <span>Tank 1</span>
        </div>
        <div class="nutrient-card-expand">
          <span>Clearex Flush</span>
          <svg ibmIconChevronDown size="20"></svg>
        </div>
        <div class="nutrient-card-expand-item">
          <span>pH</span>
          <span>1.7 mal/gal</span>
        </div>
        <div class="nutrient-card-expand-item">
          <span>Tds</span>
          <span>0.08 ppm</span>
        </div>
        <img src="assets/images/tank.svg">
        <div class="nutrient-card-actions">
          <button class="nutrient-card-actions-dropdown-btn" mat-button>Set fill rules</button>
          <button mat-button>Refill</button>
        </div>
      </div>
    </div>
  </div>
</div>
