.chart-loading {
    opacity: 0.5;
    mat-spinner {
        margin-left: auto;
        margin-right: auto;
    }
}

.nowrap-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.outdated {
  opacity: 0.5;
}

.ngx-charts-outer svg {
  overflow: overlay;
}

fuse-sensor-display .custom-dashboard {
  display: flex;
  flex-direction: column;
  height: 99%;

  &.sensor-alert {
    border: 1px solid darkred;
  }

  .active-alert {
    animation: ease-in-out fadeInOut 3s 0s infinite;
  }
}

@keyframes fadeInOut {
  0% {
    color: darkred;
  }
  50% {
    color: red;
  }
  100% {
    color: darkred;
  }
}
